@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
body {
  font-family: 'Open Sans' sans-serif;
  color: #9c9da1; }
  body nav {
    color: #595d60; }
    body nav div:first-child div:first-child {
      font-weight: 600; }
    body nav .navbar-brand span {
      color: #3f85c1; }
    body nav .button {
      background: #3f85c1; }
    body nav .navbar-right button {
      background: #3f85c1;
      color: white;
      margin-left: 2em; }
  body .basic-textbox {
    padding: 0 2em 2em 2em;
    margin-bottom: 2em; }
    body .basic-textbox h3 {
      color: #969a9d;
      font-weight: 500;
      font-style: bold; }
    body .basic-textbox button {
      background: #3f85c1;
      color: white;
      padding: 0.5em 5em;
      margin-bottom: 1em; }
  body .border-top {
    border-bottom: none;
    border-top: 2px solid #959595;
    margin-top: 2em; }

.navbar-default .navbar-toggle .icon-bar {
  background: white;
  padding: .1em;
  border-radius: 50em; }

nav.navbar.navbar-default {
  margin-bottom: 0; }
  nav.navbar.navbar-default .collapsed {
    background: #3f85c1;
    color: white; }

.jumbotron {
  text-align: center;
  color: white;
  background: url(/images/hero-image.jpg);
  background-size: cover; }
  .jumbotron h1 {
    font-size: 5em;
    display: block;
    padding-top: 1em; }

.bottom-border {
  border-bottom: 2px solid #959595;
  margin-bottom: 2em; }
  .bottom-border p {
    padding-bottom: 2em; }

.thumbnail {
  border: none;
  margin-bottom: 0;
  font-size: 2em; }

.container .row {
  font-size: 1.4em; }

.well {
  border: .7em solid white; }

.girl {
  margin-top: 2em; }

footer {
  background: #3a414b;
  padding: 2em;
  margin-top: 2em;
  overflow: hidden; }
  footer .footerlinks {
    width: 10em; }
    footer .footerlinks a {
      color: #9c9da1;
      text-decoration: underline; }

@media screen and (min-width: 48em) {
  .jumbotron {
    box-sizing: border-box;
    height: 30em; }
    .jumbotron h1 {
      float: left;
      box-sizing: border-box;
      padding-top: 2em;
      width: 50%; }
    .jumbotron p {
      float: left;
      width: 50%;
      padding-top: 7.8em;
      box-sizing: border-box; } }

@media screen and (min-width: 62em) {
  .jumbotron h1 {
    font-size: 6em;
    padding-top: 1em; }
  .jumbotron p {
    font-size: 2em;
    padding-top: 4em; } }

@media screen and (min-width: 71.5em) {
  .jumbotron {
    overflow: hidden; }
    .jumbotron h1 {
      display: block;
      padding: 1em 0 0 0;
      width: 100%; }
    .jumbotron p {
      display: block;
      padding: 0;
      width: 100%; } }
